body{
    background-color: black;
    color: white ;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-style: normal;
    display: flex;
}

/* ------------ HEADER (MENU) --------------- */
header{
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 8cm;
}

#contenedor{
    background-color: rgb(70, 70, 70);
    width: 95%;
    height: 100%;
    float: left;
    padding: 5px;
    border-radius: 10px;
}

.nyl{
    height: 22%;
    display: inline-block;   
    justify-content: center;
    align-content: center;
    margin: 15px;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.nyl img{
    width: 120px;
    height: 120px;
    justify-content: center;
    align-content: center;
}

.nyl h2{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 20px;
    text-align: center;
}

.menu{
    margin-top: 35px;
    height: 60%;
    font-size: 20px;
    font-weight: bold;  
    border-top: 1px solid rgb(109, 109, 109);
}

.menu ul li{
    list-style-type: none;
    list-style: none;
    margin: 15px 5px;
    align-items: center;
    height: 23px;
}

a{
    text-decoration: none;
    color:white;
}

#uno, #dos, #tres{
    justify-self: center;
    align-items: center;
}


#uno, #dos, #tres{
    margin: 8px 3px 10px 3px;
    padding-bottom:9px;
    height: 22px;
    align-items: center;
}

#uno{
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABcklEQVRIS8WUvUpDMRTHm0EqSPEVCl1cXLR+0XcQRwUHRx/BxaVbX8PPyUEcfIEqrSguTm6+gKA4WAu9/Z3SSBoTkpv2YuDQm5Pk/zsn5zSqVPBQBeuXgoAsy+4JYgm7xE6VUp08QcUAMkvwlfkZdgLsLQTLA7hCbBubM0TbfJ9LdsA+XLBoAAKK61pEZBfbxxqYPt/j+0auELtla1/DcgHMCIFVx6ADfmvG2guA5akBFmyDuYAOxS/ZzhSgxchq1BD/CyCIOkFsYt+YdM67HZWrW8QXzIANTfYdGwLSetI5E2knARCX1pM2cw7zXlMBTxxcKRLwiXjFA+iRwby9FlOv335lcxeBdQ+gA2DLXIutlwnYQ+DCA9gBcK3X8tRr4qlwRCWaR4i3rOgfma/G1OvPWwRkjYNyHQPsDvFnx91/4VvwAH44U9ZrwcfOJUIQD/glENfoApA/6mikAqLrlQSQyGLrlQwYQ4L1mgrg6yLTPwRDHqwZvGmMwQAAAABJRU5ErkJggg==");
}

#dos{
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACFElEQVRIS9WVSyiEURTHfWVhYUFeyaNIsVGsSBYWGglTNqQ8IlIeKeWxodh5boQyZrxSSimUpEZZKKyEUjaivEpTQpIyfkffJ+V+8w2luPXru/fcc87/nnPvoAX88tB+OX/A3xXwer2dVD+qadq9ry74rIAkzQQ3QjycwRAJJ7EXMl+FfcjG9mgmYipAkm6CehSB7SIELqiCMQTkEMqhFCB5Mt7H8AIVsAk2mIFXSAIPnEMwRCJyp1IwE6jDeUIgsN4IRHhWF6zBPsV6hXUR2FlLy74MM4FaPB3gJFDm74OE0pZqqMXuZL3EvBgKWK99R0BacALSonJwQz5Miw6kwBVcQCgkInDqt4B+2i6+vYqgDpL1c3q56FbYZZ2pSi42q2cqr0OeqvFMB0jmInkTthE96QPfduzj36rA7ER6dTF8S6EEMnTfRbEhJC38GF8q4HRB7MrLaYEEhZD0ehgcJHvGv5L5tN6NNmyDpgI4x7G5AXKJVuMIBxsJr4iThzAHTxCP7dYI/qgAp0CMe5AOl3oVO5+d8QnHngXyG4mCLfZzJBl763zyoBNbn0qgAeMo3EAaTtdmJZAslr1DCIEyfBew2ZkvwzbrbJXAAcZUKMdh3qo/JDR+7W78c1lLRXKoW9YRKgHpn1xwtK/TG4H6fcnfIg/+YWYH+nwH788LZ7//CSFiGeN3MquWWVbw0wRWcf+/gjcwhsIZM/rlcAAAAABJRU5ErkJggg==");
}

#tres{
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAB+0lEQVRIS7WVzSsFURjG7yx8RhZs5PMulKRL+QMoKR9ZYMGGhQgLLJSFCCmxsPCRYqNYKHG7KSmliKWwkY+kKxsWLBQlH9fv1bkaY2buHbpTT2fmPc/7POec98w5mivCjxZhfZetQSAQiGEAdaAcFIBsEAB+cAw2gVfTtFergVoaIF5B0qwStZvoJZ3tmGybkUwNEB+CPOhg+T7g9mIyYcz5ZWAifk/SHcgLw7Abkyk974cB4tV0rusIXt5bQSlYCcNAZlKMyX6Q+22AeALBC5CqOhcgNss7fYU0R2EYCOUMeIKF1xt0qKIK6RrkCAnxXt7HgJMtXUOuT4T0Bht8V6pRdkKYMVmyMCfhmie/zWhwQyBdKbgh+DHYkTVVsVXafhAFxnWDMTM9JL/IaPBMIE6xo9XyPPEdr2IpxGRHSU3cNFc203mAm2w0eCSQaJOUStKtMsiklTpZPY9wk4wGpwRybZLW6OtTsxwNsUQnGOQbDZYJNNgYOOlawqDJaNBIYNGJig23HoOvH1O/TaXA5yDjnyaiUYDByw8DVbwy2q1/GMhRUYL4XlDD7LCTvT7yR5MuxKf1uVbH9QCkYf0ShjB8p78H8Ukjz+7CqYI8B9JCiMuF04L4rhkv1JUZS1ItkDPKA7KAXJnyFx+oevkQf7MahJMT8k9libjBJ4ofoBlOdyqIAAAAAElFTkSuQmCC")
}

.milibreria{
    margin-bottom: 10px;
    font-weight: lighter;
}
/* ------------ HEADER (MENU) --------------- */

/* ++++++++++++ MAIN (INICIO) +++++++++++ */
main{
    display:block;
    width: 85%;
    height: 100%;
    float: right;
    padding: 10px;
    justify-content: space-around;
    margin-top: -10px;
}

/**/
.barra_horizontal{
    width: 100%;
    height: 15%;
    display: inline-block;
    justify-content: space-around;
    background-color: black;
}

.solapa{
    width: 15%;
    height: 40px;
    float: left;
    background-color: rgb(70, 70, 70);
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 5px;
}

.solapa h1{
    margin-top: 5px;
    margin-left: 10px;
    font-size: 21px;
}

.seccionUsuario {
    display: inline-block;
    background-color: black;
    float: right;
}

.seccionUsuario h2{
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    color: #8E1717;
    font-size: 16px;
} 

.seccionUsuario img{
    width: 48px;
    height: 48px;
    float: right;
    margin-top: -3px;
    border-radius: 100%;
}

.barraBusq{
    background-color: rgb(124, 124, 124);
    border: 1px rgb(109, 109, 109) solid;
    border-radius: 8px;
    width: 30%;
    height: 20%;
    margin-left: 25%;
    justify-content: center;
}

.barraBusq h3{
    font-size: 15px;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 20px;
    color: rgb(255, 255, 255);
}

.barraBusq img{
    float: right;
    width: 30px;
    height: 30px;
    margin-top: -34px;
    padding-right: 10px;
}
/**/

/**/
#albumes h2{
    font-size: 18px;
    width: 60%;
    text-align: start;
    float: left;
    margin: 0px;
}

#albumes {
    width:100%;
    height: 76vh; 
    overflow-y: auto;
    background-color: rgb(70, 70, 70);
    border-radius: 10px;
    border-top-left-radius: 0px;
    padding: 5px 12px;
}

#populares, #masEscuchados, #masTiempoSinEscuchar{
    margin: 15px;
}

.carousel{
    padding: 5px;
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden; 
}
.slides {
    display: inline-block;
    transition: transform 0.5s ease;
    flex-direction: row;
}

.contenedorAlbum{
    background-color: rgb(70, 70, 70);
    padding: 5px;
    margin-right: 2px;
    align-items: center;
    overflow: hidden; 
    position: relative; 
    width: 18%;
    flex-direction: row;
    flex-shrink: 0;
}

.contenedorAlbum::after {
    width: 37px;
    height: 45px;
    content: "▶"; 
    font-size: 25px; 
    padding-top: 15px;
    padding-left: 23px;
    position: absolute; 
    top: 70%; 
    right: 29%;
    transform: translate(-50%, -50%); 
    color: white;
    background-color: #5e5e5ec7;
    border-radius: 100%;
    opacity: 0; 
    transition: opacity 0.3s; 
}

.contenedorAlbum:hover::after {
    opacity: 1;
}

.contenedorAlbum:hover{
    cursor:pointer;
    background-color: #5e5e5e;
}

.contenedorAlbum img{
    width: 150px;
    align-content: center;
    justify-content: center;
    margin: 5%;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

button{
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    border: none;
    padding: 10px; 
    cursor: pointer; 
    position: absolute;
    transform: translateY(-50%);
}

button:hover{
    background-color: rgba(46, 46, 46, 0.5); 
}

.seccionBoton{
    width: 5%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);    
}

.titulo {
    margin: 6px 0px;
    margin-bottom: 0px;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    color: black;
}

.artista {
    font-size: 15px;
    margin: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 400;
    justify-content: center;
    color: rgb(29, 29, 29);
}

.carousel {
    padding: 5px;
    width: 100%;
    position: relative;
    overflow: hidden; 
}

.slides {
    display: flex; /* Cambiado a flex */
    transition: transform 0.5s ease;
    flex-direction: row; /* Asegurarse de que esté en fila */
}

.contenedorAlbum {
    background-color: rgb(70, 70, 70);
    padding: 5px;
    margin-right: 10px; /* Espaciado entre los álbumes */
    align-items: center;
    overflow: hidden; 
    position: relative; 
    width: 18%; /* Mantener el tamaño fijo */
    flex-shrink: 0; /* Para evitar que se reduzcan */
}

button {
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    border: none;
    padding: 10px; 
    cursor: pointer; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.seccionBoton {
    width: 5%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);    
}

button.prev {
    left: 0; /* Botón de anterior a la izquierda */
}

button.next {
    right: 0; /* Botón de siguiente a la derecha */
}

/**/
/* ++++++++++++ MAIN (INICIO) +++++++++++ */

/* '''''''''''''' FOOTER (BARRA REP) '''''''''''''''*/
footer{
    display: inline-block;
    width: 100%;
    height: 10%;
    background-color:#811212;
    color: white;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 7px; 
    align-items: flex-end;
}

#imagenCancion{
    float: left;
}

#imagenCancion img{
    width: 60px;
    height: 60px;
    margin: 3px;
}

#infoCancion{
    margin-left: 5px;
    float: right;
}

#infoCancion h2{
    font-size: 15px;
    color: black;
    margin-top: 20%;
    margin-bottom: 5%;
}

#infoCancion h3{
    font-size:12px;
    color: rgba(0, 0, 0, 0.651);
    margin-top: 0px;
}

#imagenCancion img{
    margin: 3px;
    margin-bottom: 15px;
}
#barraReproduccion{
    width: 40%;
    display: block;
    margin-left: 35%;
}

#barraReproductora-iconos{
    height: 55%;
    margin-top: 0px;
    margin-left: 20%;
}

#barraReproductora-iconos img{
    margin: 15px;
    width: 25px;
}

#barraProgreso-responsive{
    display:none;
}

#barraProgeso{
    width: 15%;
    height: 50%;
    margin-left: 5%;
}

.progress {
    height: 5px;
    border-radius: 5px;
    background-color: #5f1010;
    margin-bottom: 15px;
    justify-content: center;
}

.progress-bar {
    height: 100%;
    background: #0e0e0e;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}

/* '''''''''''''' FOOTER (BARRA REP) '''''''''''''''*/    
@media (max-width: 500px){
    header{
        height: 85vh;
        width: 1cm;
    }

    #contenedor{
        width: 100%;
    }

    .menu a{
        display: none;
    }

    .menu ul{
        margin-left: -26px;
    }

    #inicio, #descubre{
    display: none;
}

    .seccionUsuario{
        justify-content: center;
        margin: 5px 7px 0px 7px;
    }

    .seccionUsuario h2{
        display: none;
    }

    .seccionUsuario img{
        width: 40px;
        height: 40px; 
    }

    #mi_libreria p{
        display:none;
    }

    .nyl h2{
        display: none;
    }

    .nyl{
        width: 45px;
        height: 45px;
        padding: 0px;
        margin: 0px;
        margin-left: -2px;
    }

    .nyl img{
        width: 42px;
        height: 42px;
    }

    main{
        width: 95%;
        margin-left: 10px;
        margin-right: -7px;
        height: 100%;
        float: right;
    }

    .solapa h1{
        display:none;
    }

    .solapa{
        width: 100px;
        height: 43px;
    }

    .barra_horizontal{
        height:45px;
        margin-bottom: 0px;
    }

    .barraBusq{
        background-color: rgb(0, 0, 0);
        border: black;
        margin-left: 190px;
        width: 30px;
    }

    .barraBusq img{
        width: 25px;
        height: 25px;
        margin: 10px;
    }

    .barraBusq h3{
        display: none;
    }

    #imagenCancion img{
        width: 50px;
        height: 50px;
        margin: 7px;
    }

    #artista{
        height: 78vh;
        margin-top: 5px;
        padding: 2px;
    }

    #artista img{
        width: 30%;
        height: 70%;
        margin: 3px;
    }

    .fotoynombre{
        padding: 5px;
        width: 97%;
        height: 20%;
        margin-bottom: 5px;
    }

    .info{
        width:65%;
    }

    .info h1{
        font-size: 20px;
        margin: 10px 20px 10px 3px;
    }

    .info p{
        font-size: 12px;
        margin-left: 5px;
    }

    #imagenCancion{
        width: 70%;
        margin-top: 2%;
    }

    #imagenCancion img{
        margin-right: 0px;
        width: 20%;
        height: 20% ;
    }

    #infoCancion{
        width: 75%;
        height: 25%;
        margin-top: -25px;
        margin-left: 0px;
    }

    #infoCancion h2{
        font-size: 16px;
        margin-bottom: 5px;
    }

    #infoCancion h3{
        font-size: 14px;
    }

    #barraProgreso{
        display:none;
    }

    #barraProgreso-responsive{
        display: flex;
        background-color: #5f1010;
        height: 3px;
        width: 95%;;
        margin-left: 1.25%;
        margin-right: 1.25%;
    }

    .progress-responsive {
        height: 3px;
        border-radius: 5px;
        background-color: #000000;
        justify-content: center;
    }

    .progress-bar-responsive {
        height: 100%;
        display: flex;
        background-color: #0e0e0e;
        align-items: center;
        border-radius: 5px;
    }
    
    #barraReproductora-iconos{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding-top: 15%;
    }

    #barraReproductora-iconos img{
        width: 22px;
        height: 22px;
        margin: 4px;
    }

    #repetir, #aleatorio{
        display: none;
    }

    #barraReproduccion{
        width: 30%;
        height: 90%;
        margin: 0;
        margin-top: 2%;
        float: left;
        flex-wrap: wrap;
        align-content: center;
    }

    #contenedor2{
        width: 100%;
        height: 50%;
    }

    #canciones{
        width: 96%;
        padding: 6px;
    }

    #canciones h1{
        font-size: 18px;
        margin: 5px;
    }

    #cancion{
        width: 98%;
        height: 30%;
    }

    #cancion img{
        width: 20%;
        height: 20%;
    }

    .info-popular{
        margin-right: 20%;
    }

    .info-popular h3{
        font-size: 15px;
    }
}